<launch>
    <node name="orb_slam3_mono" pkg="orb_slam3_ros_tube" type="orb_slam3_ros_tube_mono" output="log">
        <!-- for SAM Simulator dataset -->
        <remap from="/camera/image_raw" to="/sam/perception/camera_front_left/image_color"/>

        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file"      type="string"   value="$(find orb_slam3_ros_tube)/config/ORBvoc.txt" />
        <param name="settings_file" type="string"   value="$(find orb_slam3_ros_tube)/config/sam_real_down.yaml" />
        <param name="enable_pangolin"   type="bool"     value="false" />

        <!-- Parameters for ROS -->
        <param name="map_frame_id"  type="string"   value="world" />
        <param name="pose_frame_id" type="string"   value="camera" />
    </node>
</launch>